*{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
    height: 100vh;
    width: 100vw;
}

header{
    grid-area: header;
    background-color: rgb(18, 164, 115);
}

aside{
    grid-area: aside;
    background-color: rgb(109, 90, 126);
    width: 20vw;
}

main{
    grid-area: main;
    background-color: rgb(169, 60, 21);
    display: grid;
    width: 80vw;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;

}

footer{
    grid-area: footer;
    background-color: rgb(136, 50, 50);
}

